# Question 1

A database is a structured collection of data that is organized and stored for easy access, retrieval, and management. It serves as a central repository for storing and managing data for various applications.

SQL:

SQL databases are based on the relational model.
They use structured tables with predefined schemas to store data.
SQL databases have a fixed schema, meaning the structure of the data is determined in advance.
They use SQL as the query language for defining and manipulating the data.
SQL databases provide strong consistency, meaning that data is always in a valid and predictable state.
Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL:

NoSQL databases are non-relational and do not adhere to a fixed schema.
They use a variety of data models, such as key-value, document, columnar, or graph-based, to store data.
NoSQL databases provide flexible schemas, allowing for dynamic and evolving data structures.
They offer high scalability and performance, making them suitable for handling large amounts of unstructured data.
Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

# Question 2

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints.

CREATE: The CREATE statement is used to create new database objects such as tables, indexes, views, or stored procedures.

DROP: The DROP statement is used to delete existing database objects. It permanently removes the object from the database.

ALTER: The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns in a table, rename objects, change data types, or add constraints.

TRUNCATE: The TRUNCATE statement is used to delete all data from a table while keeping the table structure intact. It is faster than the DELETE statement because it does not generate individual delete operations for each row.

# Question 3


DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate and interact with the data within a database. These operations are crucial for maintaining the integrity and accuracy of the data within the database and for supporting various data processing and management tasks.

INSERT: The INSERT statement is used to add new records into a table. It allows you to specify the values for each column or select values from another table. The basic syntax is: INSERT INTO table_name (column1, column2, ...) VALUES (value1, value2, ...).

UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to update specific columns with new values based on specified conditions. The basic syntax is: UPDATE table_name SET column1 = value1, column2 = value2 WHERE condition.

DELETE: The DELETE statement is used to remove records from a table. It allows you to delete specific rows based on specified conditions. The basic syntax is: DELETE FROM table_name WHERE condition.

# Question 4

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL is focused on querying and retrieving information rather than modifying or manipulating the data.

The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify which columns you want to retrieve, apply filters or conditions to limit the result set, perform calculations or aggregations on the data, and sort the results in a desired order.

EXample:
    SELECT column1, column2, ...
    FROM table_name WHERE condition

# Question 5

Primary Key (PK): In a relational database, a primary key is a unique identifier for a specific record in a table. It ensures the uniqueness and integrity of data within the table. A primary key constraint enforces the rule that no two records can have the same primary key value. Typically, a primary key is chosen from one or more columns that uniquely identify each record. It facilitates data retrieval, data integrity, and the establishment of relationships between tables.

Foreign Key (FK): A foreign key is a field or a combination of fields in a table that refers to the primary key of another table. It establishes a relationship between two tables, known as a parent-child relationship. The foreign key ensures referential integrity by enforcing that the values in the foreign key column(s) of the child table must match the values in the primary key column(s) of the parent table. It allows for data consistency and enables the creation of relationships and joins between tables, enabling the representation of complex data relationships in a database.

# Question 6

In [4]:
import  mysql.connector 
mydb = mysql.connector.connect(
    host="localhost",
    user="root", 
    password="UrvilP",
    database="for_python"
    )

cur = mydb.cursor()
query = "select * from demo2;"
cur.execute(query)
rows = cur.fetchall()
print('Data is a table having two columns: ')
print('Data in Database:')
for row in rows:
    print(row)

Data is a table having two columns:
Data in Database:
(1, 'Krishna')
(2, 'Urvil')
(2, 'Urvil')

# Question 7

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: The FROM clause specifies the table or tables from which the data is being retrieved.


2. WHERE: The WHERE clause filters the rows based on specified conditions. It restricts the result set to include only the rows that satisfy the given conditions.


3. GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns. It is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.


4. HAVING: The HAVING clause filters the groups created by the GROUP BY clause based on specified conditions. It restricts the result set to include only the groups that satisfy the given conditions.


5. SELECT: The SELECT clause determines the columns or expressions to retrieve from the table. It specifies the desired output columns.


6. DISTINCT: The DISTINCT keyword is used to eliminate duplicate rows from the result set.


7. ORDER BY: The ORDER BY clause sorts the result set based on specified columns or expressions. It arranges the rows in ascending or descending order.